$color-green: #20afa5;
$color-green-transparent: rgba($color-green, .5);
$color-green-transparent-fuller: rgba($color-green, .8);
$color-orange: #fd9d18;
$color-orange-transparent: rgba($color-orange, .5);
$color-orange-transparent-fuller: rgba($color-orange, .8);
$color-gray: #4d4d4d;
$color-gray-transparent: rgba($color-gray, .5);
$color-light-gray: rgb(220, 220, 220);
$color-light-gray-transparent: rgba($color-light-gray, 70%);
$color-red: red;